// Variáveis
$color-primary: #043873;
$color-secondary: #4F9CF9;
$color-tertiary: #FFE492;
$color-text: #fff;
$color-text-dark: #000;
$padding-container: 100px 200px;

// Estilos
.app {
    width: 100%;
}
*{
    padding: 0px;
    margin: 0px;
}
button {
    border: none;
    padding: 20px;
    border-radius: 8px;
    width: 180px;
    outline: none;
    word-wrap: wrap;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        transform: scale(1.1);
        transition: ease 0.5s;
        border: 1px solid $color-text;
    }
}

header {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text;
    height: 92px;
    padding: 0px 200px;
    nav {
        width: 33%;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .bt-free-triat {
        background-color: $color-secondary;
        width: 200px;
        padding: 15px 30px;

        a {
            text-decoration: none;
            color: $color-text;
        }
    }

    .bt-login {
        background-color: $color-tertiary;
        width: 120px;
        padding: 15px 30px;

        a {
            text-decoration: none;
            color: $color-text-dark;
        }
    }
}

footer {
    background-color: $color-primary;
    display: grid;
    color: $color-text;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 60px;
    grid-template-areas: 'about product resources company callAction'
    'copyright copyright copyright copyright copyright';
    padding: 50px 100px 0px;
    nav {
        ul {
            list-style: none;

            li {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    button {
        a {
            text-decoration: none;
            color: $color-text-dark;
        }
    }

    .about-company {
        grid-area: about;
    }

    .callToAction {
        grid-area: callAction;
    }

    .company {
        grid-area:company ;

    }

    .rosources {
        grid-area:resources ;

    }

    .product {
        grid-area: product;

    }

    .copyright {
        grid-area: copyright;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .about{
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

.container-content,
.container-custom,
.container-msg-banner,
.container-price-table,
.container-content-work,
.container-asextension,
.container-sponsor,
.container-coments,
.container-call-to-action {
    padding: $padding-container;
}

.container-call-to-action {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color-primary;
    color: $color-text;
    gap: 20px;

    .bt-try {
        background-color: $color-secondary;
        align-self: center;

        a {
            text-decoration: none;
            color: $color-text;
        }
    }

    .it-company-icon {
        .icon {
            font-size: 60px;
            margin: 0px 20px;
        }
    }
}

.container-content {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: $color-text;

    div {
        width: 40%;
    }

    button {
        background-color: $color-secondary;

        a {
            text-decoration: none;
            color: $color-text;
        }
    }
}

.container-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    div {
        width: 40%;
    }

    button {
        background-color: $color-secondary;

        a {
            text-decoration: none;
            color: $color-text;
        }
    }
}

.container-asextension {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text;
    flex-wrap: wrap;

    div {
        width: 40%;

        button {
            background-color: $color-secondary;

            a {
                text-decoration: none;
                color: $color-text;
            }
        }
    }
}

.container-content-work {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        width: 40%;
    }

    button {
        background-color: $color-secondary;

        a {
            text-decoration: none;
            color: $color-text;
        }
    }

}

.container-price-table {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 1fr;
    grid-template-areas: "Title Title Title" "Description Description Description" "column1 column2 column3";
    grid-gap: 20px;

    .container-title {
        grid-area: Title;
        text-align: center;
    }

    .container-description {
        grid-area: Description;
        text-align: center;
    }

    .column1,
    .column2,
    .column3 {
        border-radius: 8px;
        padding: 20px 40px;

        p {
            padding: 10px;
        }
    }

    .column1 {
        grid-area: column1;
        border: 1px solid rgb(238, 238, 238);
        background-color: #fff;

        button {
            color: $color-text-dark;
            border: 1px solid rgb(204, 204, 204);
            background-color: #fff;
        }
    }

    .column2 {
        grid-area: column2;
        background-color: $color-primary;
        color: $color-text;

        button {
            background-color: $color-secondary;

            a {
                color: $color-text;
                text-decoration: none;
            }
        }
    }

    .column3 {
        grid-area: column3;
        border: 1px solid rgb(238, 238, 238);
        background-color: #fff;

        button {
            color: $color-text-dark;
            border: 1px solid rgb(204, 204, 204);
            background-color: #fff;
        }
    }
}

.container-msg-banner {
    background-color: $color-primary;
    color: $color-text;
    text-align: center;

    .bt-free-triat {
        a {
            color: $color-text;
        }
    }
}

.container-msg-banner button {
    color: $color-text;
    background-color: $color-secondary;
}

.container-sponsor .content-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-sponsor .container-title {
    text-align: center;
}

.sponsor-icon {
    font-size: 100px;
}


.container-coments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 20px;
    grid-template-areas:
        'texto texto texto'
        'card1 card2 card3';

    .text-container {
        grid-area: texto;
        text-align: center;
    }

    .container-img-1 {
        grid-area: card1;
        background-color: #fff;
        color: #000;
        border: 1px solid #4F9CF9;
    }

    .container-img-2 {
        grid-area: card2;
        background-color: #4F9CF9;
        color: #fff;
    }

    .container-img-3 {
        grid-area: card3;
        background-color: #4F9CF9;
        color: #fff;

        hr {
            color: #fff;
        }
    }

    .container-img-1,
    .container-img-2,
    .container-img-3 {
        border-radius: 10px;
        padding: 40px 60px;

        .icon-user {
            font-size: 40px;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 50%;
        }
    }
}

@media (max-width: 600px) {

    .container-content,
    .container-custom,
    .container-msg-banner,
    .container-price-table,
    .container-content-work,
    .container-asextension,
    .container-sponsor,
    .container-coments,
    footer,
    .container-call-to-action {
        padding: 50px 20px;
    }

    header {
        height: 80px;
        padding: 0px 20px;
    }

    .container-price-table {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 1fr 1fr 1fr;
        grid-template-areas: "Title" "Description" "column1" "column2" "column3";
        grid-gap: 20px;
    }

    header nav ul {
        display: block;
    }

    button {
        width: 100px;
    }

    .sponsor-icon {
        font-size: 60px;
    }

    .container-content {
        grid-template-areas: "container1 img1" "img2 container2";
    }

    header .bt-free-triat {
        width: 80px;
        padding: 10px;
    }

    header .bt-login {
        width: 60px;
        padding: 10px;
    }

}

.container-coments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 20px;
    grid-template-areas:
        'texto texto texto'
        'card1 card2 card3';

    .text-container {
        grid-area: texto;
        text-align: center;
    }

    .container-img-1 {
        grid-area: card1;
        background-color: #fff;
        color: #000;
        border: 1px solid #4F9CF9;
        border-radius: 10px;
        padding: 40px 60px;

        .icon-user {
            font-size: 40px;
        }
    }

    .container-img-2 {
        grid-area: card2;
        background-color: #4F9CF9;
        color: #fff;
        border-radius: 10px;
        padding: 40px 60px;

        .icon-user {
            font-size: 40px;
        }
    }

    .container-img-3 {
        grid-area: card3;
        background-color: #4F9CF9;
        color: #fff;
        border-radius: 10px;
        padding: 40px 60px;

        hr {
            color: #fff;
        }

        .icon-user {
            font-size: 40px;
        }
    }
}

@media (max-width: 600px) {

    .container-content,
    .container-custom,
    .container-msg-banner,
    .container-price-table,
    .container-content-work,
    .container-asextension,
    .container-sponsor {
        padding: 50px 20px;
    }

    .container-price-table {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 1fr 1fr 1fr;
        grid-template-areas: "Title" "Description" "column1" "column2" "column3";
        grid-gap: 20px;
    }

    button {
        width: 100px;
    }

    .sponsor-icon {
        font-size: 60px;
    }

    .container-content {
        grid-template-areas: "container1 img1" "img2 container2";
    }

    header {
        height: 80px;
        padding: 0px 20px;
        nav ul {
            display: block;
        }
        .bt-free-triat {
            width: 80px;
            padding: 10px;
        }
        .bt-login {
            width: 60px;
            padding: 10px;
        }
    }

    .container-coments {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr;
        justify-content: center;
        grid-gap: 20px;
        grid-template-areas:
            'texto'
            'card1'
            'card2'
            'card3';
    }
    footer{
        padding:50px 20px 0px;
        
    }
}