.app{
  width: 100%;
}

button {
  border: none;
  padding: 20px;
  border-radius: 8px;
  width: 180px;
  outline: none;
}
button a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  transform: scale(1.1);
  transition: ease 0.5s;
  border: 1px solid #fff;
}

header {
  background-color: #043873;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 92px;
  padding: 0px 200px;
}
header nav {
  width: 33%;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .bt-free-triat {
  background-color: #4F9CF9;
  width: 100px;
  padding:  10px 20px;
}
header .bt-free-triat a {
  text-decoration: none;
  color: #fff;
}
header .bt-login {
  background-color: #FFE492;
  width: 80px;
  padding:  10px 20px;
}
header .bt-login a {
  text-decoration: none;
  color: #000;
}

.container-content, .container-custom, .container-msg-banner, .container-price-table, .container-content-work, .container-asextension, .container-sponsor {
  padding: 100px 200px;
}

.container-content {
  background-color: #043873;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}
.container-content div {
  width: 40%;
}
.container-content button {
  background-color: #4F9CF9;
}
.container-content button a {
  text-decoration: none;
  color: #fff;
}

.container-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container-custom div {
  width: 40%;
}
.container-custom button {
  background-color: #4F9CF9;
}
.container-custom button a {
  text-decoration: none;
  color: #fff;
}

.container-asextension {
  background-color: #043873;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
}
.container-asextension div {
  width: 40%;
}
.container-asextension button {
  background-color: #4F9CF9;
}
.container-asextension button a {
  text-decoration: none;
  color: #fff;
}

.container-content-work {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "container1 img1" "img2 container2";
}
.container-content-work .content-1 {
  grid-area: container1;
  align-items: center;
}
.container-content-work .content-2 {
  grid-area: container2;
}
.container-content-work .container-img-1 {
  grid-area: img1;
  text-align: right;
}
.container-content-work .container-img-2 {
  grid-area: img2;
  text-align: left;
}
.container-content-work button {
  background-color: #4F9CF9;
}
.container-content-work button a {
  text-decoration: none;
  color: #fff;
}

.container-price-table {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 80px 1fr;
  grid-template-areas: "Title Title Title" "Description Description Description" "column1 column2 column3";
  grid-gap: 20px;
}
.container-price-table .container-title {
  grid-area: Title;
  text-align: center;
}
.container-price-table .container-description {
  grid-area: Description;
  text-align: center;
}
.container-price-table .column1, .container-price-table .column2, .container-price-table .column3 {
  border-radius: 8px;
  padding: 20px 40px;
}
.container-price-table .column1 p, .container-price-table .column2 p, .container-price-table .column3 p {
  padding: 10px;
}
.container-price-table .column1 {
  grid-area: column1;
  border: 1px solid rgb(238, 238, 238);
  background-color: #fff;
}
.container-price-table .column1 button {
  color: #000;
  border: 1px solid rgb(204, 204, 204);
  background-color: #fff;
}
.container-price-table .column2 {
  grid-area: column2;
  background-color: #043873;
  color: #fff;
}
.container-price-table .column2 button {
  background-color: #4F9CF9;
}
.container-price-table .column2 button a {
  color: #fff;
  text-decoration: none;
}
.container-price-table .column3 {
  grid-area: column3;
  border: 1px solid rgb(238, 238, 238);
  background-color: #fff;
}
.container-price-table .column3 button {
  color: #000;
  border: 1px solid rgb(204, 204, 204);
  background-color: #fff;
}

.container-msg-banner {
  background-color: #043873;
  color: #fff;
  text-align: center;
  /*display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 80px 80px 100px 100px 80px 1fr;
  grid-template-areas:
      'Title Title '
      'Description Description '
      'button button'
      'Title2 img'
      'Description2 img'
      'button2 img';*/
}
.container-msg-banner button {
  color: #fff;
  background-color: #4F9CF9;
}

.container-sponsor .content-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-sponsor .container-title {
  text-align: center;
}/*# sourceMappingURL=App.css.map */


@media (max-width: 600px) {
 .container-content, .container-custom, .container-msg-banner, .container-price-table, .container-content-work, .container-asextension, .container-sponsor {
  padding: 50px 20px;
}
  header {
  height: 80px;
  padding: 0px 20px;
}
.container-price-table {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 80px 1fr 1fr 1fr;
  grid-template-areas: "Title" "Description" "column1" "column2" "column3" ;
  grid-gap: 20px;
}
}
