.inverter {
  flex-direction: row-reverse;
}

li {
  padding: 10px 15px;
}

.app {
  width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
}

button {
  border: none;
  padding: 20px;
  border-radius: 8px;
  width: 180px;
  outline: none;
  word-wrap: wrap;
}
button a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  transform: scale(1.1);
  transition: ease 0.5s;
  border: 1px solid #fff;
}

header {
  background-color: #043873;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 92px;
  padding: 0px 200px;
}
header nav {
  width: 33%;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .bt-free-triat {
  background-color: #4F9CF9;
  width: 200px;
  padding: 15px 30px;
}
header .bt-free-triat a {
  text-decoration: none;
  color: #fff;
}
header .bt-login {
  background-color: #FFE492;
  width: 120px;
  padding: 15px 30px;
}
header .bt-login a {
  text-decoration: none;
  color: #000;
}

footer {
  background-color: #043873;
  display: grid;
  color: #fff;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 60px;
  grid-template-areas: "about product resources company callAction" "copyright copyright copyright copyright copyright";
  padding: 50px 100px 0px;
  justify-content: center;
}
footer nav ul {
  list-style: none;
}
footer nav ul li:hover {
  text-decoration: underline;
}
footer button a {
  text-decoration: none;
  color: #000;
}
footer .about-company {
  grid-area: about;
}
footer .callToAction {
  grid-area: callAction;
}
footer .company {
  grid-area: company;
}
footer .rosources {
  grid-area: resources;
}
footer .product {
  grid-area: product;
}
footer .copyright {
  grid-area: copyright;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .copyright .about ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-content,
.container-custom,
.container-msg-banner,
.container-price-table,
.container-content-work,
.container-asextension,
.container-sponsor,
.container-coments,
.container-call-to-action {
  padding: 100px 200px;
}
.container-content p, .container-content h1,
.container-custom p,
.container-custom h1,
.container-msg-banner p,
.container-msg-banner h1,
.container-price-table p,
.container-price-table h1,
.container-content-work p,
.container-content-work h1,
.container-asextension p,
.container-asextension h1,
.container-sponsor p,
.container-sponsor h1,
.container-coments p,
.container-coments h1,
.container-call-to-action p,
.container-call-to-action h1 {
  padding: 10px;
}
.container-content button,
.container-custom button,
.container-msg-banner button,
.container-price-table button,
.container-content-work button,
.container-asextension button,
.container-sponsor button,
.container-coments button,
.container-call-to-action button {
  margin: 10px;
}

.container-call-to-action {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #043873;
  color: #fff;
  gap: 20px;
}
.container-call-to-action .bt-try {
  background-color: #4F9CF9;
  align-self: center;
}
.container-call-to-action .bt-try a {
  text-decoration: none;
  color: #fff;
}
.container-call-to-action .it-company-icon .icon {
  font-size: 60px;
  margin: 0px 20px;
}

.container-content {
  background-color: #043873;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}
.container-content div {
  width: 40%;
}
.container-content button {
  background-color: #4F9CF9;
}
.container-content button a {
  text-decoration: none;
  color: #fff;
}
.container-content .content > * {
  padding: 20px;
}

.container-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container-custom div {
  width: 40%;
}
.container-custom button {
  background-color: #4F9CF9;
}
.container-custom button a {
  text-decoration: none;
  color: #fff;
}

.container-asextension {
  background-color: #043873;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
}
.container-asextension div {
  width: 40%;
}
.container-asextension div button {
  background-color: #4F9CF9;
}
.container-asextension div button a {
  text-decoration: none;
  color: #fff;
}

.container-content-work {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-content-work div {
  width: 40%;
}
.container-content-work button {
  background-color: #4F9CF9;
}
.container-content-work button a {
  text-decoration: none;
  color: #fff;
}

.container-price-table {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 80px 1fr;
  grid-template-areas: "Title Title Title" "Description Description Description" "column1 column2 column3";
  grid-gap: 20px;
}
.container-price-table .container-title {
  grid-area: Title;
  text-align: center;
}
.container-price-table .container-description {
  grid-area: Description;
  text-align: center;
}
.container-price-table .column1,
.container-price-table .column2,
.container-price-table .column3 {
  border-radius: 8px;
  padding: 20px 40px;
}
.container-price-table .column1 p,
.container-price-table .column2 p,
.container-price-table .column3 p {
  padding: 10px;
}
.container-price-table .column1 {
  grid-area: column1;
  border: 1px solid rgb(238, 238, 238);
  background-color: #fff;
}
.container-price-table .column1 button {
  color: #000;
  border: 1px solid rgb(204, 204, 204);
  background-color: #fff;
}
.container-price-table .column2 {
  grid-area: column2;
  background-color: #043873;
  color: #fff;
}
.container-price-table .column2 button {
  background-color: #4F9CF9;
}
.container-price-table .column2 button a {
  color: #fff;
  text-decoration: none;
}
.container-price-table .column3 {
  grid-area: column3;
  border: 1px solid rgb(238, 238, 238);
  background-color: #fff;
}
.container-price-table .column3 button {
  color: #000;
  border: 1px solid rgb(204, 204, 204);
  background-color: #fff;
}

.container-msg-banner {
  background-color: #043873;
  color: #fff;
  text-align: center;
}
.container-msg-banner .bt-free-triat a {
  color: #fff;
}

.container-msg-banner button {
  color: #fff;
  background-color: #4F9CF9;
}

.container-sponsor .content-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-sponsor .container-title {
  text-align: center;
}

.sponsor-icon {
  font-size: 100px;
}

.container-coments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-gap: 20px;
  grid-template-areas: "texto texto texto" "card1 card2 card3";
}
.container-coments .text-container {
  grid-area: texto;
  text-align: center;
}
.container-coments .container-img-1 {
  grid-area: card1;
  background-color: #fff;
  color: #000;
  border: 1px solid #4F9CF9;
}
.container-coments .container-img-2 {
  grid-area: card2;
  background-color: #4F9CF9;
  color: #fff;
}
.container-coments .container-img-3 {
  grid-area: card3;
  background-color: #4F9CF9;
  color: #fff;
}
.container-coments .container-img-3 hr {
  color: #fff;
}
.container-coments .container-img-1,
.container-coments .container-img-2,
.container-coments .container-img-3 {
  border-radius: 10px;
  padding: 40px 60px;
}
.container-coments .container-img-1 .icon-user,
.container-coments .container-img-2 .icon-user,
.container-coments .container-img-3 .icon-user {
  font-size: 40px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
}

@media (max-width: 600px) {
  .container-content,
  .container-custom,
  .container-msg-banner,
  .container-content-work,
  .container-asextension,
  .container-sponsor,
  footer,
  .container-call-to-action {
    padding: 50px 20px;
    flex-direction: column;
  }
  .container-content div,
  .container-custom div,
  .container-msg-banner div,
  .container-content-work div,
  .container-asextension div,
  .container-sponsor div,
  footer div,
  .container-call-to-action div {
    width: 100%;
  }
  .container-price-table {
    display: grid;
    padding: 50px 20px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px 1fr 1fr 1fr;
    grid-template-areas: "Title" "Description" "column1" "column2" "column3";
    grid-gap: 20px;
  }
  button {
    width: 100px;
  }
  .sponsor-icon {
    font-size: 60px;
  }
  header {
    height: 80px;
    padding: 0px 20px;
  }
  header .bt-free-triat {
    width: 80px;
    padding: 10px;
  }
  header .bt-login {
    width: 60px;
    padding: 10px;
  }
  header nav ul {
    display: block;
  }
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: "about" "product" "resources" "company" "callAction" "copyright";
    text-align: center;
  }
  footer .copyright {
    grid-area: copyright;
    display: flex;
    flex-direction: column;
  }
  footer .copyright .about ul {
    display: block;
  }
  .container-img img,
  .container-img-1 img,
  .container-img-2 img {
    text-align: center;
    width: 100%;
  }
  .container-coments {
    padding: 50px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-template-areas: "texto" "card1" "card2" "card3";
  }
}/*# sourceMappingURL=App.css.map */